<!DOCTYPE html>
<html>
<head>
    <title>sem02</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/united/bootstrap.min.css">
</head>
<body style="width:100vw; margin:0; padding:0;">

    <main>

        <nav class="navbar navbar-expand-sm bg-primary mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-content-center" id="navbarColor01">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="~/vistas/index.cshtml">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/vistas/ejercicio1.cshtml">
                                Ejercicio 1
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/vistas/ejercicio2.cshtml">Ejercicio 2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="d-flex flex-column justify-content-center mx-5">
            <h2 class="text-center">Ejercicio 1</h2>
        </div>

        <div class="d-flex justify-content-center">
            <form method="post" class="mx-auto">
                <fieldset style="border: 2px solid #f29879 !important;" class="border border-primary p-3">
                    <legend style="padding: 1px 10px !important; float: none; width: auto;">Formulario</legend>

                    <div class="row mb-2">
                        <label for="form_name" class="form-label col-4 mt-2">Nombre completo:</label><br />
                        <div class="col-8">
                            <input name="form_name" required type="text" class="form-control" id="form_name" placeholder="Ingrese su nombre completo">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="form_age" class="form-label col-4 mt-2">Edad:</label><br />
                        <div class="col-8">
                            <input name="form_age" required type="number" class="form-control" id="form_age" max="70" min="18" placeholder="Ingrese su edad">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="form_salary" class="form-label col-4 mt-2">Salario:</label><br />
                        <div class="col-8">
                            <input name="form_salary" required type="number" class="form-control" id="form_salary" placeholder="Ingrese su salario base">
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="submit">Enviar</button>
                    </div>

                </fieldset>
            </form>
        </div><br /><br />
        <div>
            @if (IsPost)
            {
                string name = Request.Form["form_name"];

                if (name.Any(char.IsDigit))
                {

                   <script>
                       alert('Ocurrió un error al procesar los datos. Verifique la información ingresada.')

                   </script>   
                }
                else
                {
                    int age = Request.Form["form_age"].AsInt();
                    double salary = double.Parse(Request.Form["form_salary"]);
                    int fec_na = 2025 - age;
                    double renta = salary * 0.10;
                    double AFP = salary * 0.07;
                    double planilla = salary * 0.05;
                    double f_salary = salary - (renta + AFP + planilla);

                    int vocales = name.ToLower().Count(c => "aeiou".Contains(c));

                    <h3>Información Procesada</h3>

                    <table>
                        <tr>
                            <td>
                                <txt>
                                    Nombre: @name (@vocales vocales)<br />
                                    Año de nacimiento: @fec_na <br />
                                    Salario sin descuento: @salary <br />
                                    Descuento de renta: @renta <br />
                                    Descuento de AFP: @AFP <br />
                                    Descuento de planilla: @planilla <br />
                                    <hr />
                                    Salario final : @f_salary <br />
                                </txt>
                            </td>
                        </tr>

                    </table>


                }
            }


        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
